#podman run -dt   --name helmfile   --user $(id -u):$(id -g)   --workdir /helm/charts   -v "$PWD":/helm/charts:Z   -v "$HOME/.kube":/helm/.kube:Z   ghcr.io/helmfile/helmfile:latest bash
environments:
  default:
    values:
      - ./values/multiagent-resource-values.yaml
---

helmDefaults:
  createNamespace: false
  wait: false

releases:

  - name: unifai-multiagent-be
    chart: ./multiagent/be
    wait: true
    #timeout: 300
    values:
      - ./values/global-config.yaml
      - {{- toYaml .Values.multiagent_server | nindent 8 }}

  - name: multiagent-config
    chart: ./multiagent/multiagent-config
    wait: true
    needs:
      - unifai-multiagent-be
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: bash
        args:
        - "./scripts/multiagent-postsync.sh"


{{- /*
### place holder for the celery service
  # - name: unifai-multiagent-celery
  #   chart: ./multiagent/celery
  #   wait: true
  #   timeout: 300
  #   values:
  #     - ./values/global-config.yaml
  #     - {{- toYaml .Values.multiagent_celery | nindent 8 }}
*/ -}}