environments:
  default:
    values:
      - ./values/rag-resource-values.yaml
---

helmDefaults:
  createNamespace: false
  wait: false
  historyMax: 1

releases:

  - name: unifai-rag-shared-storage
    chart: ./rag/unifai-rag-shared-storage
    wait: true
    values:
      - {{- toYaml .Values.storage | nindent 8 }}
      - ./values/global-config.yaml

  - name: unifai-rag-server
    chart: ./rag/unifai-rag-server
    wait: true
    hooks:
      - events: ["presync"]
        showlogs: true
        command: bash
        args:
          - "./scripts/rag-presync.sh"
    values:
      - {{- toYaml .Values.unifai_rag_server | nindent 8 }}
      - ./values/global-config.yaml


  - name: unifai-rag-celery
    chart: ./rag/unifai-rag-celery
    wait: true
    values:
      - {{- toYaml .Values.unifai_rag_celery | nindent 8 }}
      - ./values/global-config.yaml


  - name: unifai-rag-config
    chart: ./rag/unifai-rag-config
    wait: true
    needs:
      - unifai-rag-server
      - unifai-rag-celery
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: bash
        args:
        - "./scripts/rag-postsync.sh"