environments:
  default:
    values:
      - ./values/sso-values.yaml
---

helmDefaults:
  createNamespace: false
  wait: false

releases:

  - name: unifai-sso
    chart: ./shared-resources/sso
    wait: true
    values:
      - {{- toYaml .Values | nindent 8 }}
      - ./values/global-config.yaml
    hooks:
      - events: ["presync"]
        showlogs: true
        command: bash
        args:
        - "./scripts/sso-presync.sh"